
WorryClient.xcworkspace/xcuserdata/caishaowu.xcuserdatad/UserInterfaceState.xcuserstate

*.xcbkptlist

*.xcscheme

Pods/Pods.xcodeproj/xcuserdata/a4399.xcuserdatad/xcschemes/xcschememanagement.plist

WorryClient.xcodeproj/xcuserdata/a4399.xcuserdatad/xcschemes/xcschememanagement.plist

WorryClient.xcworkspace/xcuserdata/a4399.xcuserdatad/UserInterfaceState.xcuserstate

WorryClient.xcworkspace/xcuserdata/a4399.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

*.xcbkptlist

WorryClient.xcworkspace/xcuserdata/a4399.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

WorryClient.xcworkspace/xcuserdata/a4399.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
